table, span {
    color: #ffffff;
    font: 16px 'Iosevka Nerd Font Mono';
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
}
.white {
    color: #ffffff;
}

.background {
    background-color: #ffffff;
}
